#accountIcon:active {
	width: 22px;
}

#accountPanel{
	padding: 1%;
}

body {
	background-color: lightcyan;
  	font-family: 'Arial', sans-serif;
	text-align: center;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

.centered{
	left: 50%;
	margin: 0;
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.context-menu{
	background-color: teal;
	color: white;
	margin-right: 0.5%;
	padding-bottom: 1%;
	padding-top: 1%;
	width: 20%;
}

.context-menu-item{
	padding-bottom: 2%;
	padding-left: 5%;
	padding-top: 2%;
	height: 20px;
}

.context-menu-item:hover{
	background-color: darkcyan;
	cursor: pointer;
}

#contextMenu{
  	--mouse-x: 0px;
  	--mouse-y: 0px;
	position: fixed;
	text-align: left;
	transform: translateX(min(var(--mouse-x), calc(100vw - 100%))) translateY(min(var(--mouse-y), calc(100vh - 100%)));
	z-index: 1;
}

.control:active {
	width: 61px;
}

#countdownLabel{
	font-family: digital-7;
	font-size: 64px;
	height: 80px;
}

@font-face{
	font-family: digital-7;
	src: url("../fonts/digital-7 (mono).ttf");
}

.hidden{
	display: none;
}

#pauseIcon:hover{
	opacity: 0.75;
}

#phaseLabel{
	font-size: 38px;
	height: 60px;
}

#playIcon:hover{
	opacity: 0.5;
}

#sessionForm{
	height: 60px;
}

#stopIcon:hover{
	opacity: 0.5;
}

#taskName{
	text-align: center;
}

.right{
	margin: 0;
	position: absolute;
	right: 0%;
}